# Server
PORT=4000
NODE_ENV=development

# Database
MONGO_URL=

# Auth
JWT_SECRET=

# Mail (SMTP)
MAIL_HOST=smtp.gmail.com
MAIL_USER=
MAIL_PASS=

# Cloudinary Upload Folder Name
FOLDER_NAME=

# Cloudinary Credentials
CLOUD_NAME=
API_KEY=
API_SECRET=


# Payments
RAZORPAY_KEY=
RAZORPAY_SECRET=
